<div class="bg-black bg-cover bg-center h-screen">
    <div class="flex flex-col items-center justify-center h-screen">
        <div class="text-purple-300 text-3xl text-center px-6">
            "Every Story Matters. What’s Yours?"<br>
            A space to explore, share, and connect through stories that inspire. 
        </div>
        <div class="text-white text-xl text-center mt-4 px-6">
            Discover a world where voices come together,<br> ideas flow freely, 
            and stories spark new perspectives</div>
      </div>
</div>
